@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 320px;
  width: 100vh;
  height: 200px;
  width: 100vh;
  height: 502px;
  max-width: 100%;
  overflow: hidden;
}

body {
  width: 320px;
}

ul {
  list-style: none;
}

.header__container {
  width: 320px;
  height: 502px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__bg {
  background-color: #ffb8ca;
  width: 100vh;
  height: 200px;
  width: 100vh;
  height: 502px;
  max-width: 100%;
  overflow: hidden;
  min-width: 320px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 8px;
  width: 100vh;
  max-width: 100%;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn--menu {
  width: 31px;
  height: 22px;
  background-color: transparent;
  border: 1px transparent;
  margin-right: 20px;
  margin-top: -66px;
}
.header__svg--menu {
  margin-top: -66px;
  margin-right: 20px;
}

.bg__bigicecream {
  position: relative;
  background-color: #ffa5ba;
  width: 346px;
  height: 344px;
  border-radius: 346px;
  top: 83px;
  position: absolute;
  left: 36px;
  right: -62px;
}

.bigicecream {
  position: absolute;
  left: 81px;
  top: 10px;
  right: 32px;
  width: 171px;
  height: 410px;
}

.header__title--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 20px;
  top: 180px;
}

.header__title {
  color: #fff;
  font-family: Titan One;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}

.header__title--passions {
  color: #d41443;
  font-family: Titan One;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.5%;
  text-transform: uppercase;
  margin-top: -20px;
}

.header__container--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 13px;
  margin-top: -28px;
}

.btn__products {
  background-color: #d41443;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
  width: 61.2px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
}
.btn__made {
  background-color: white;
  border: none;
  border-radius: 20px;
  color: #d41443;
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
  font-family: DM Sans;
  width: 82.8px;
  height: 24px;
}

@media (min-width: 768px) {
  .header__bg {
    overflow-x: hidden;
    background-color: #ffb8ca;
    width: 768px;
    height: 416px;
  }
  .header__container {
    width: 768px;
    height: 502px;
  }
  .bg__bigicecream {
    width: 335px;
    height: 333px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 335px;
    background: #ffa5ba;
    margin-top: -46px;
    margin-left: 208px;
  }
  .bigicecream {
    position: absolute;
    left: 81px;
    top: 43px;
    right: 32px;
    width: 143px;
    height: 336px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .header__logo {
    margin: 32px 0 0 32px;
  }
  .header__title {
    font-size: 22px;
    letter-spacing: 0.88px;
    margin-top: -75px;
    margin-left: 14px;
  }
  .header__title--passions {
    font-size: 34px;
    line-height: 90.5%;
    margin-left: 14px;
    letter-spacing: 1.36px;
  }
  .header__container--btn {
    margin-top: -12px;
    margin-left: 14px;
  }
  .header__btn--menu {
    margin-right: 211px;
  }
}
/* 
----TABLET--------TABLET--------TABLET--------TABLET---- */
.header__btn--buy {
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 159px;
  height: 44px;
  border: 0px;
  color: #d41443;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: -379px;
  margin-left: 570px;
  position: relative;
}

.header__svg--arrow {
  width: 8px;
  height: 10px;
  margin-left: 12px;
}

.header__container--milk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 106px;
}

.header__img--milk {
  margin-left: 30px;
  width: 152px;
  height: 154px;
}

.header__container--milk p {
  color: #fff;
  font-family: DM Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 12px */
  margin-top: 36px;
  position: relative;
  margin-left: 7px;
}

.img__arrow {
  margin-top: 6px;
  width: 18px;
  height: 18px;
}

.header__container--tasty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.img__tasty {
  margin-top: -134px;
  width: 190px;
  height: 150px;
  margin-right: 37px;
}

.header__container--numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #d41443;
  text-align: right;
  font-family: Titan One;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.header__text--16 {
  margin-top: 1px;
  margin-right: 51px;
}

.header__text--23 {
  margin-top: 1px;
  margin-right: 51px;
}

.header__container--places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
  text-align: right;
  font-family: DM Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__text--cafes {
  margin-top: -88px;
  margin-right: 53px;
}

.header__text--foodtruck {
  margin-top: 44px;
  margin-right: 53px;
}

@media (max-width: 768px) {
  .header__container--milk {
    display: none;
  }
  .header__container--tasty {
    display: none;
  }
  .header__btn--buy {
    display: none;
  }
  .header__container--numbers {
    display: none;
  }
  .header__container--places {
    display: none;
  }
}
.products__container {
  width: 320px;
  background-color: white;
  height: 1896px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__title--natural {
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 65px;
}

.products__title--products {
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-top: -1px;
}

.product__img--strawberry {
  margin-left: 1px;
  margin-top: -139px;
}

.card__strawberry--section {
  width: 280px;
  height: 489px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 24px;
  background: #ffb8ca;
  margin-left: 21px;
  margin-top: 100px;
}

.product__title {
  color: #fff;
  text-align: center;
  font-family: Titan One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.svg__cards {
  color: rgb(255, 255, 255);
  margin-left: 126px;
  margin-top: 15px;
}

.product__text {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%; /* 21.28px */
  letter-spacing: 0.56px;
  margin-top: -113px;
}

.product__img--coffee {
  margin-left: 1px;
  margin-top: -138px;
}

.card__coffee--section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 24px;
  background: #f0d1a5;
  width: 280px;
  height: 489px;
  flex-shrink: 0;
  border-radius: 24px;
  color: rgb(240, 209, 165);
  margin-left: 21px;
  margin-top: 138px;
}

.product__img--milkshake {
  margin-left: 1px;
  margin-top: -138px;
}

.card__milkshake--section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 24px;
  background: #f0d1a5;
  width: 280px;
  height: 489px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #c2e297;
  margin-left: 21px;
  margin-top: 138px;
}

/* 
------------TABLET--------------------- */
@media (min-width: 768px) {
  .products__container--cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products__container {
    width: 768px;
    height: 1270px;
  }
  .products__title--natural {
    margin-top: -27px;
    color: #ffa5ba;
    text-align: center;
    font-family: Titan One;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .products__title--products {
    color: #d41443;
    text-align: center;
    font-family: Titan One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
  }
  .card__strawberry--section {
    width: 224px;
    height: 473px;
    margin-top: 110x;
  }
  .product__img--strawberry {
    width: 224px;
  }
  .card__coffee--section {
    width: 224px;
    height: 473px;
    margin-top: 110px;
  }
  .product__img--coffee {
    width: 224px;
  }
  .card__milkshake--section {
    width: 224px;
    height: 473px;
    margin-top: 110px;
  }
  .product__img--milkshake {
    width: 224px;
  }
  .svg__cards {
    margin-left: 100px;
  }
}
.him__container {
  width: 320px;
  height: 1628px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #fff5f6;
  margin-top: 8px;
}

.him__title--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.him__title--tradition {
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 55px;
}

.him__title--him {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-top: 0px;
}

.him__img--cow {
  margin-left: 21px;
  margin-top: -12;
  width: 280px;
  height: 279px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.him__text {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%; /* 19.44px */
  letter-spacing: 0.48px;
  margin-left: 37px;
  margin-top: 34px;
}

.him__text--2 {
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%; /* 19.44px */
  letter-spacing: 0.48px;
  margin-left: 37px;
}

.him__bg {
  background-image: url(/src/images/movile/how\ its\ made-bg.png);
  background-repeat: no-repeat;
  width: 280px;
  height: 133px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.him__btn--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.him__btn--read {
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background-color: rgb(255, 255, 255);
  color: rgb(212, 20, 67);
  border-color: rgb(255, 255, 255);
  padding-top: 9px;
  margin-left: 35px;
  margin-top: 188px;
  padding-right: 27px;
}

.him__btn--svg {
  margin-left: 123px;
  margin-top: -13px;
}

.him__svgs {
  margin-left: 37px;
  margin-top: 41px;
}

.him__title--cow {
  color: #d41443;
  font-family: Titan One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-top: -87px;
  margin-left: 37px;
}

.him__text--cow {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%; /* 20.4px */
  letter-spacing: 0.24px;
  margin-top: -16px;
  margin-left: 37px;
}

/* ------------------TABLET----------------- */
@media (min-width: 768px) {
  .him__container {
    width: 768px;
    height: 1150px;
  }
  /* .him__bg {
    display: none;
  } */
  .him__title--him {
    display: none;
  }
  .him__title--tradition {
    font-size: 26px;
  }
  .him__title--him2 {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #d41443;
    text-align: center;
    font-family: Titan One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
    text-transform: uppercase;
    margin-top: 0px;
  }
  .him__text--container {
    display: none;
  }
  .him__container--imgcow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 336px;
    height: 335px;
  }
  .him__img--cow {
    width: 336px;
    height: 335px;
    margin-top: 7px;
    margin-left: 9px;
  }
  .him__text--container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 390px;
    margin-top: -350px;
  }
  .him__text--tablet {
    width: 400px;
    height: 104px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #000;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.64px;
  }
  .him__text--tablet--2 {
    width: 401px;
    height: 130px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #907e82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 194%; /* 27.16px */
    letter-spacing: 0.56px;
  }
  .him__btn--display {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 23px;
    margin-left: 150px;
  }
  .cont-tittle-vasos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .him__svgs {
    width: 50px;
    height: 50px;
    margin-top: 47px;
    margin-left: 19px;
  }
  .him__title--cow {
    width: 98px;
    height: 56px;
    font-size: 48px;
    letter-spacing: 1.92px;
    margin-top: 28px;
    margin-left: 19px;
  }
  .him__text--cow {
    width: 165px;
    height: 113px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 14px;
    line-height: 174%; /* 24.36px */
    letter-spacing: 0.28px;
    margin-left: 19px;
  }
}
@media (max-width: 768px) {
  .him__text--container2 {
    display: none;
  }
  .him__title--him2 {
    display: none;
  }
}
.testimonial__container {
  width: 320px;
  /*   background-color: red; */
  height: 828px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.testimonial__img--group {
  margin-top: -27px;
}

.testimonial__img--emily {
  margin-top: 55px;
  margin-left: 20px;
}

.testimonial__bg--text {
  width: 280px;
  height: 307px;
  margin-left: 25px;
  background: #fafafa;
  margin-top: 28px;
}

.testimonial__svg--quotation {
  width: 54px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 2px solid red;
  position: absolute;
}

.testimonial__text--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial__text {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 260%; /* 31.2px */
  letter-spacing: 0.48px;
  width: 157px;
  height: 213px;
  margin-top: 43px;
  margin-left: 23px;
}

.testimonial__svg--rectangle {
  background: #fafafa;
  border: 2px solid green;
}

.testimonial__text--emily {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 26.04px */
  margin-top: -110px;
}

/* TABLET---TABLET---TABLET---TABLET---TABLET */
@media (min-width: 768px) {
  .testimonial__container {
    width: 768px;
    height: 1000px;
  }
  .testimonial__img--group {
    display: none;
  }
  .testimonial__img--group--tablet {
    width: 768px;
    height: 327px;
    margin-top: -187px;
  }
  .testimonial__img--emily {
    margin-top: 95px;
    width: 85px;
    height: 85px;
  }
  .testimonial__bg--text {
    width: 620px;
    height: 164px;
    background-color: rgb(250, 250, 250);
  }
  .testimonial__text--flex--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25px;
  }
  .testimonial__tex--tablet {
    width: 492px;
    height: 83px;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 214%; /* 29.96px */
    letter-spacing: 0.56px;
  }
  .testimonial__text {
    display: none;
  }
}
@media (max-width: 768px) {
  .testimonial__img--group--tablet {
    display: none;
  }
  .testimonial__text--flex--tablet {
    display: none;
  }
}
/* .footer__container {
  width: 320px;
  background-color: #FFF5F6;
  height: 1513px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.footer__container {
  width: 320px;
  height: 1909px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #fff5f6;
}

.card__cafe--cities {
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 24px;
  background: #fff;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  width: 280px;
  height: 412px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card__cafe--square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card__footer--cafe {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  background-color: #f0d1a5;
  margin-top: 103px;
  margin-left: 45px;
  border-radius: 4px;
}

.card__footer--foodtruck {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  background-color: #72c468;
  margin-top: 103px;
  margin-left: 45px;
  border-radius: 4px;
}

.card__text--cities {
  /*   width: 57.006px; */
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  margin-top: 71px;
  margin-left: 45px;
}

.card__text--description {
  width: 208px;
  height: 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  margin-left: 45px;
}

.card__schedule--mf {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  width: 107.172px;
  margin-left: 45px;
  margin-top: -120px;
}

.card__time--610 {
  width: 161.898px;
  height: 23px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #ffa5ba;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin-left: 45px;
  margin-top: -12px;
}

.card__schedule--ss {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  width: 107.172px;
  margin-left: 45px;
  margin-top: 0px;
}

.card__time--816 {
  width: 161.898px;
  height: 23px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #ffa5ba;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin-left: 45px;
  margin-top: -12px;
}

.card__contacts {
  width: 179px;
  height: 37px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-left: 45px;
  margin-top: -130px;
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.footer__btn--ourlocation {
  width: 161.45px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 22px;
  background: #d41342;
  border: 2px solid #d41342;
  color: white;
  padding-top: 10px;
}

.footer__btn--franchise {
  width: 161px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 22px;
  background: #fff;
  border: 2px solid white;
  color: #d41342;
}

.footer__svg--franchise {
  width: 6px;
  height: 10px;
  margin-right: 10px;
  margin-right: -10px;
}

.home__made {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__made--text {
  width: 232px;
  height: 42px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #ffa5ba;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.home__passion--text {
  width: 200px;
  height: 76px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #d41443;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-left: -30px;
  margin-top: -3px;
}

/* ----SVG-----SVG------SVG--- */
.footer__contact--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  margin-top: -400px;
}

.footer__contact--free {
  color: #000;
  text-align: right;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%; /* 22.32px */
}

.footer__contact--number {
  color: #d41443;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}

.footer__copy--right {
  width: 280px;
  color: #907e82;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
}

.footer__svg--facebook {
  border: 3px solid red;
}

/* ---TABLET---TABLET---TABLET---TABLET---TABLET--- */
@media (min-width: 768px) {
  .footer__container {
    width: 768px;
    height: 640px;
  }
  .card__container--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card__cafe--cities {
    width: 224px;
    height: 528px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 24px;
    background: #fff;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    margin-top: -282px;
  }
  .card__text--cities {
    font-size: 16px;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
    margin-left: 42px;
  }
  .card__text--description--tablet {
    width: 159px;
    height: 65px;
    color: #907e82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    line-height: 166%; /* 23.24px */
    letter-spacing: 0.56px;
    margin-left: 42px;
  }
  .card__text--description {
    display: none;
  }
  .card__schedule--mf {
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: 186%; /* 26.04px */
  }
  .card__time--610 {
    width: 160px;
    height: 23px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #ffa5ba;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 26.04px */
  }
  .card__time--816 {
    width: 160px;
    height: 23px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #ffa5ba;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 26.04px */
  }
  .card__schedule--ss {
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: 186%; /* 26.04px */
  }
  .card__contacts {
    width: 160px;
    height: 48px;
    color: #907e82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%; /* 25.62px */
  }
  .footer__btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 51px;
  }
  .footer__btn--ourlocation {
    width: 191.45px;
    height: 44px;
    border-radius: 22px;
    background: #d41342;
  }
  .footer__btn--franchise {
    width: 174.046px;
    height: 44px;
    border-radius: 22px;
    background: #fff;
  }
  .home__made--text {
    width: 340px;
    height: 57px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #ffa5ba;
    font-family: Titan One;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    margin-left: -368px;
    margin-top: 42px;
  }
  .home__passion--text {
    width: 340px;
    color: #d41443;
    font-family: Titan One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.88px;
    text-transform: uppercase;
    margin-left: -368px;
    margin-top: -12px;
  }
  .footer__contact--container {
    margin-top: -223px;
    margin-left: 520px;
  }
  .footer__contact--free {
    color: #000;
    text-align: right;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 26.04px */
  }
  .footer__contact--number {
    color: #d41443;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
  }
  .footer__copy--right--tablet {
    color: #907e82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 26.04px */
    letter-spacing: 0.28px;
    margin-top: -105px;
    margin-left: 264px;
  }
  .footer__copy--right {
    display: none;
  }
}
@media (max-width: 768px) {
  .card__text--description--tablet {
    display: none;
  }
  .footer__copy--right--tablet {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.7411764706);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 300ms ease, visibility 300ms ease;
  transition: opacity 300ms ease, visibility 300ms ease;
  opacity: 1;
  pointer-events: auto;
}

.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal__movil {
  width: 254px;
  height: 502px;
  background: #e17992;
  margin: auto;
  padding: 40px;
  border-radius: 6px;
  position: relative;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */