/* .footer__container {
  width: 320px;
  background-color: #FFF5F6;
  height: 1513px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.footer__container {
  width: 320px;
  height: 1909px;
  flex-shrink: 0;
  background-color: #fff5f6;
}

.card__cafe--cities {
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  width: 280px;
  height: 412px;
  flex-shrink: 0;
}

.card__cafe--square {
  display: flex;
  width: 130px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.card__footer--cafe {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  background-color: #f0d1a5;
  margin-top: 103px;
  margin-left: 45px;
  border-radius: 4px;
}

.card__footer--foodtruck {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  background-color: #72c468;
  margin-top: 103px;
  margin-left: 45px;
  border-radius: 4px;
}

.card__text--cities {
  /*   width: 57.006px; */
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  margin-top: 71px;
  margin-left: 45px;
}

.card__text--description {
  width: 208px;
  height: 36px;
  flex-shrink: 0;
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  margin-left: 45px;
}

.card__schedule--mf {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  width: 107.172px;
  margin-left: 45px;
  margin-top: -120px;
}

.card__time--610 {
  width: 161.898px;
  height: 23px;
  flex-shrink: 0;
  color: #ffa5ba;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin-left: 45px;
  margin-top: -12px;
}

.card__schedule--ss {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  width: 107.172px;
  margin-left: 45px;
  margin-top: 0px;
}

.card__time--816 {
  width: 161.898px;
  height: 23px;
  flex-shrink: 0;
  color: #ffa5ba;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin-left: 45px;
  margin-top: -12px;
}

.card__contacts {
  width: 179px;
  height: 37px;
  flex-shrink: 0;
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-left: 45px;
  margin-top: -130px;
}

.footer__btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 32px;
}

.footer__btn--ourlocation {
  width: 161.45px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #d41342;
  border: 2px solid #d41342;
  color: white;
  padding-top: 10px;
}

.footer__btn--franchise {
  width: 161px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #fff;
  border: 2px solid white;
  color: #d41342;
}

.footer__svg--franchise {
  width: 6px;
  height: 10px;
  margin-right: 10px;
  margin-right: -10px;
}

.home__made {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home__made--text {
  width: 232px;
  height: 42px;
  flex-shrink: 0;
  color: #ffa5ba;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.home__passion--text {
  width: 200px;
  height: 76px;
  flex-shrink: 0;
  color: #d41443;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-left: -30px;
  margin-top: -3px;
}

/* ----SVG-----SVG------SVG--- */

.footer__contact--container {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: -400px;
}

.footer__contact--free {
  color: #000;
  text-align: right;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%; /* 22.32px */
}

.footer__contact--number {
  color: #d41443;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}

.footer__copy--right {
  width: 280px;
  color: #907e82;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
}

.footer__svg--facebook {
  border: 3px solid red;
}

/* ---TABLET---TABLET---TABLET---TABLET---TABLET--- */

@media (min-width: 768px) {
  .footer__container {
    width: 768px;
    height: 640px;
  }

  .card__container--flex {
    display: flex;
  }

  .card__cafe--cities {
    width: 224px;
    height: 528px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    margin-top: -282px;
  }

  .card__text--cities {
    font-size: 16px;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
    margin-left: 42px;
  }

  .card__text--description--tablet {
    width: 159px;
    height: 65px;
    color: #907e82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    line-height: 166%; /* 23.24px */
    letter-spacing: 0.56px;
    margin-left: 42px;
  }

  .card__text--description {
    display: none;
  }

  .card__schedule--mf {
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: 186%; /* 26.04px */
  }

  .card__time--610 {
    width: 160px;
    height: 23px;
    flex-shrink: 0;
    color: #ffa5ba;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 26.04px */
  }

  .card__time--816 {
    width: 160px;
    height: 23px;
    flex-shrink: 0;
    color: #ffa5ba;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 26.04px */
  }

  .card__schedule--ss {
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: 186%; /* 26.04px */
  }

  .card__contacts {
    width: 160px;
    height: 48px;
    color: #907e82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%; /* 25.62px */
  }

  .footer__btn {
    flex-direction: row;
    justify-content: center;
    margin-top: 51px;
  }

  .footer__btn--ourlocation {
    width: 191.45px;
    height: 44px;
    border-radius: 22px;
    background: #d41342;
  }

  .footer__btn--franchise {
    width: 174.046px;
    height: 44px;
    border-radius: 22px;
    background: #fff;
  }

  .home__made--text {
    width: 340px;
    height: 57px;
    flex-shrink: 0;
    color: #ffa5ba;
    font-family: Titan One;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    margin-left: -368px;
    margin-top: 42px;
  }
  .home__passion--text {
    width: 340px;
    color: #d41443;
    font-family: Titan One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.88px;
    text-transform: uppercase;
    margin-left: -368px;
    margin-top: -12px;
  }

  .footer__contact--container {
    margin-top: -223px;
    margin-left: 520px;
  }
  .footer__contact--free {
    color: #000;
    text-align: right;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 26.04px */
  }
  .footer__contact--number {
    color: #d41443;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%;
  }

  .footer__copy--right--tablet {
    color: #907e82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 186%; /* 26.04px */
    letter-spacing: 0.28px;
    margin-left: 1px;
    margin-top: -105px;
  }
  .footer__copy--right {
    display: none;
  }
}

@media (max-width: 768px) {
  .card__text--description--tablet {
    display: none;
  }
  .footer__copy--right--tablet {
    display: none;
  }
}
